<div class="header position-relative">
      <app-navbar></app-navbar>
      <img src="assets/imges/landing-page/Frame.png" alt="" class="frame">
      <div class="landing">
        <div class="cont">
            <div class="info">
                <h1>Find, book and rent a car <span class="text-primary">Easily</span></h1>
                <p>Get a car wherever and whenever you need it with your IOS and Android device.</p>
                <div class="icons gap-2 d-flex flex-wrap">
                  <img src="assets/imges/landing-page/andriod.png" alt="" class="me-2">
                  <img src="assets/imges/landing-page/ios.png" alt="">
                </div>
            </div>
            <div class="img_cont">
                <img src="assets/imges/landing-page/car 2 1.png" alt="" class="car">
            </div>
        </div>
      </div>
</div>