<div class="cont">
    <div class="container">
        <div class="row gy-3">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="box">
                    <div class="head">
                        <img src="assets/imges/footer/logo-footer.png" alt="">
                    </div>
                    <div class="item d-flex gap-2 align-items-center">
                        <img src="assets/imges/footer/location.png" alt="">
                        <p>25566 Hc 1, Glenallen,Alaska, 99588, USA</p>
                    </div>
                    <div class="item d-flex gap-2 align-items-center">
                        <img src="assets/imges/footer/call.png" alt="">
                        <p>+603 4784 273 12</p>
                    </div>
                    <div class="item d-flex gap-2 align-items-center">
                        <img src="assets/imges/footer/sms.png" alt="">
                        <p>rentcars@gmail.com</p>
                    </div>
                </div>
            </div>
    
            <div class="col-md-2 col-6">
                <div class="box">
                    <div class="head">Our Products</div>
                    <span>Career</span>
                    <span>Car</span>
                    <span>Packages</span>
                    <span>Features</span>
                    <span>Priceline</span>
                </div>
            </div>
    
            <div class="col-md-2 col-6">
                <div class="box">
                    <div class="head">Resources</div>
                    <span>Dounload</span>
                    <span>Help Center</span>
                    <span>Guides</span>
                    <span>Partner Network</span>
                    <span>Cruises</span>
                    <span>Developer</span>
                </div>
            </div>
    
            <div class="col-md-2 col-6">
                <div class="box">
                    <div class="head">About Rentcars</div>
                    <span>why choose us</span>
                    <span>our story</span>
                    <span>Investor Relations</span>
                    <span>Press center</span>
                    <span>Advertise</span>
                </div>
            </div>
            <div class="col-md-2 col-6">
                <div class="box">
                    <div class="head">Follow Us</div>
                    <div class="social d-flex gap-3">
                        <img src="../../assets/imges/footer/facebook.png" alt="">
                        <img src="../../assets/imges/footer/instagram.png" alt="">
                        <img src="../../assets/imges/footer/youtube.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-3">Copyright 2023 ・ Rentcars, All Rights Reserved</div>
    </div>

</div>