.sec{
    margin-bottom: 0;
    padding: 40px 0 ;
}
p{
    font-size: 14px;
}
.form{
    width: 50%;
    align-items: center;
}
input{
    background: #CEDCFF;
    border-radius: 15px;
    padding: 7px 10px;
    border: none;
    outline: none;
    width: 100%;
}
.img_cont img{
    position: absolute;
    bottom: 0;
    right: 50px;
}
@media(max-width:768px){
    .apps{
        justify-content: center;
        margin: 0;
    }
    .container .form{
        width: 100%;
        align-items: center;
    }
}