<div class="container sec text-center" id="how_work">
    <div class="title">how it work</div>
    <h2 class="mt-4">Most popular cars rental deals</h2>

    <div class="row w-75 mt-4 gy-3">
        <div class="col-md-4 col-12 ">
            <div class="box text-center">
                <img src="assets/imges/landing-page/location.png" alt="">
                <h5 class="my-3">Choose location</h5>
                <p>Choose your and find your best car</p>
            </div>
        </div>
        <div class="col-md-4 col-12 ">
            <div class="box text-center">
                <img src="assets/imges/landing-page/car-icon.png" alt="">
                <h5 class="my-3">Pick-up date</h5>
                <p>Select your pick up date and time to book your car</p>
            </div>
        </div>
        <div class="col-md-4 col-12 ">
            <div class="box text-center">
                <img src="assets/imges/landing-page/location.png" alt="">
                <h5 class="my-3">Book your car</h5>
                <p>Book your car and we will deliver it directly to you</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-4 gy-3 text-center">
        <div class="col-lg-3 col-sm-6 col-12 ">
            <div class="box">
                <img src="assets/imges/landing-page/jaguar.png" alt="">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 ">
            <div class="box">
                <img src="assets/imges/landing-page/nissan.png" alt="">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 ">
            <div class="box">
                <img src="assets/imges/landing-page/volvo.png" alt="">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 ">
            <div class="box">
                <img src="assets/imges/landing-page/audi.png" alt="">
            </div>
        </div>
    </div>
</div>