<div class="sec">
    <img src="assets/imges/landing-page/sec-6/bg-sec6.png" alt="" class="vector">
    <div class="title">TEST IMONIALS</div>
    <h1 class="text-center my-4">Most popular cars rental deals</h1>
    
    <div class="cont">
        <div class="container d-flex justify-content-between align-items-center mt-5">
            
            <div class="d-flex bg-white shadow-sm rounded-1 box">
                <div class="img_cont">
                    <img src="assets/imges/landing-page/sec-6/Rectangle 8 (1).png" alt="" class="h-100 img-fluid">
                </div>
                <div class="info p-3">
                    <h3>5.5 <span class="fs-5">stars</span></h3>
                    <div class="icons">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>“I feel very secure when using caretall's services. Your customer care team is very enthusiastic and the driver is always on time.”</p>
                    <div class="name">
                        <span>Charlie Johnson</span>
                        <span class="text-secondary d-block">Last updated 3 mins ago</span>
                    </div>
                </div>
            </div>

            <div class="d-flex bg-white shadow-sm rounded-1 box">
                <div class="img_cont">
                    <img src="assets/imges/landing-page/sec-6/man-4123268_1280.jpg" alt="" class="img-fluid h-100 man">
                </div>
                <div class="info p-3">
                    <h3>5.5 <span class="fs-5">stars</span></h3>
                    <div class="icons">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>“I feel very secure when using caretall's services. Your customer care team is very enthusiastic and the driver is always on time.”</p>
                    <div class="name">
                        <span>Charlie Johnson</span>
                        <span class="text-secondary d-block">Last updated 3 mins ago</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>