.reveiw{
    align-items: center;
    font-size: 14px;
}
.feat{
    display: flex;
    gap: 5px;
    align-items: center;
}
.featurs span{
    font-size: 12px;
}
.featurs{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.price span{
    font-size: 15px;
}
h6{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feat i {
    color: #bcbcbc;
}